@model List<RegistrationModel>
@{
    ViewData["Title"] = "ViewFormData";
}

<h2>View Form Details</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Age</th>
            <th>Contact Method</th>
        </tr>
    </thead>
    <tbody>
        @foreach (RegistrationModel r in Model)
        {
            <tr>
                <td>@r.Name</td>
                <td>@r.Address</td>
                <td>@r.Phone</td>
                <td>@r.Email</td>
                <td>@r.Age</td>
                <td>@r.Contact</td>
            </tr>
        }
    </tbody>
</table>